<ion-header>
  <ion-toolbar>
    <ion-title>
   Connexion
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-item color="primary">
          <ion-label >Utilisateur</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="text"  [(ngModel)]="utilisateur" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item color="primary">
          <ion-label >Mot de passe</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="password" [(ngModel)]="password">     </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-button routerLink="/service" color="primary">Connexion</ion-button>  
      </ion-col>
    </ion-row>
</ion-grid>   
</ion-content>
